{{!-- Import header --}}
{{> header}}

<div class="container my-5">
	<div class="row">
		<div class="col-12">
			{{#if postData}}
                <div class="card mb-5">
                    <div class="card-header text-info">
                        <h4>{{postData.title}}</h4>
                    </div>
                    <div class="card-body">
                        <p>{{postData.content}}</p>
                        {{#each postData.comments as |comment|}}
                            {{> comment}}
                        {{/each}}
                        <div class="text-right small text-info">
                            <i class="fas fa-user"></i> {{postData.user.username}} 
                            <i class="fas fa-clock"></i> {{dateFormatter postData.createdAt}}
                        </div>
                        {{!-- Add Comment --}}
                        <div class="row mt-2">
                            <div class="col-12">
                                <textarea id="commentBox" rows="4" class="form-control" placeholder="Add your comment"></textarea>
                                <button class="btn btn-info mt-2 btn-lg">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
			{{else}}
				<p class="text-center text-info">No blog post found for that identifier! ):</p>
			{{/if}}
		</div>
	</div>
</div>

{{!-- Import footer --}}
{{> footer}}